{% extends "epaper/base.html" %}
{% block title %} ePaper - Home {% endblock %}
{% block content %}
{% for noticia in noticias %}
  <h2><a href="/noticia/{{noticia.pk}}">{{ noticia.titulo }}</a></h2>
  <h6>Categoría: <a href="/noticias/categoria/{{notica.categoria}}">{{noticia.categoria}}</a></h6>
  <p><img src="{{noticia.photo.url}}" class="img-responsive img-thumbnail my_max" align="center"></p>
  <p>{{ noticia.cuerpo|truncatechars:200 }}</p>
  <p>Autor: {{noticia.autor}} Fecha: {{noticia.pub_date}}</p>
  <span class="glyphicon glyphicon-eye-open btn btn-default btn-disabled"> {{noticia.visitas}} </span> <a class="glyphicon glyphicon-thumbs-up btn btn-default"> {{noticia.likes}} </a>
{% endfor %}
{% if noticias.is_paginated %}
  <ul class="pagination pagination-centered">
      {% if page_obj.has_previous %}
          <li><a href="?page=1">< <</a></li>
          <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
      {% endif %}

      {% for i in paginator.page_range %}
          <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
      {% endfor %}

      {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
          <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
      {% endif %}
  </ul>
{% endif %}
{% endblock %}
